<style>
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
</style>

body {
  margin: 0;
}

p {
  font-family:"Pangolin";
  font-size: 26px;
  padding: 5px;
}

:root {
  --gap: 16px;
  --num-cols: 6;
  --row-height: 300px;
  --page-width: 50%
}

.card {
  width: var(--page-width);
  margin: auto;
  font-size: 18px;
  margin-top: 100px;
  background-color:bisque;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.intro {
  width: var(--page-width);
  margin: auto;
  height: auto;

  background-color:bisque;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.image-grid {
  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}


@media screen and (max-width: 1024px) {
  .image-grid {
    --num-cols: 3;
    --row-height: 200px;
  }
  .card {
    --page-width: 100%;
  }

  .intro {
    --page-width: 100%
  }
}


.card {
  display: none;
}
#trigger:checked + .card {
  display: block;
}

#trigger {
  display:none;
}